<body>

  <div class="container">
    <h1>{{ mensagem }}</h1>
    <div class="pokedex">
      <div *ngFor="let pokemon of pokemons" class="card" (click)="mostrarDetalhes(pokemon)">
        <h2 class="card-title">{{ pokemon.nome }}</h2>
        <p class="card-subtitle">{{ pokemon.tipos }}</p>
        <img class="card-image" [src]="pokemon.imagem" alt="{{ pokemon.nome }}">
      </div>
    </div>
  
    <div *ngIf="selectedPokemon" class="modal">
      <div class="modal-content">
        <span class="close" (click)="fecharModal()">&times;</span>
        <h2>{{ selectedPokemon.nome }}</h2>
        <p><strong>Tipo:</strong> {{ selectedPokemon.tipos }}</p>
        <p><strong>Descrição:</strong> {{ selectedPokemon.descricao }}</p>
      </div>
    </div>
  </div>
  



</body>